body {
  font-size: 28px;
  margin-top: -57px;
}

ul {
  margin-top: -19px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin-left: -8px;
  margin-right: -8px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Comic Sans MS;
}

li a:hover {
  background-color: #a0a0a0;
}

.active {
  background-color: #a0a0a0;
}

.header img {
  float: left;
  width: 100px;
  color: #000;
  height: 100px;
  background: #ffffff;
}
.header h1 {
  position: relative;
  top: 19px;
  left: 10px;
  font-family: Comic Sans MS;
  background-color: #ffffff;
  margin-left: -18px;
  padding-bottom: 22px;
}
h2 {
  font-family: Comic Sans MS;
  text-align: center;
}
h6 {
  font-family: Lucida Console;
}
p {
  font-family: Arial;
  font-size: large;
}
img {
  float: right;
}
